  /* Puedes ajustar estos valores según tus necesidades */
  @media (max-width: 576px) {
    h2 {
        font-size: 1rem; /* Tamaño de fuente para dispositivos pequeños */
    }
}

@media (min-width: 577px) and (max-width: 992px) {
    h2 {
        font-size: 1.5rem; /* Tamaño de fuente para dispositivos medianos */
    }
}

@media (min-width: 993px) {
    h2 {
        font-size: 2.5rem; /* Tamaño de fuente para dispositivos grandes */
    }
}
